/* CSS for Footer component */

  /* Styles for footer component */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Styles for content inside footer */
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Styles for icons */
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  