/* CSS for Signup component */

/* Styles for the signup page */
.signup-page {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100vh; 
  background-image: url("../assets/signup.png");
  background-size: cover;
}

/* Styles for form */
.forms {
  border: 2px solid transparent;
  width: 220px;
  height: 400px;
  padding: 50px;
  margin-right: 13%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-width: 5px;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border-image-slice: 1;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px); /* Backdrop filter to blur the background */
}
.forms > form {
      display: flex;
      flex-direction: column;
  }
/* Styles for form heading */
.forms h2{
  text-align: center;
}
/* Styles for form groups */
.form-group {
  margin-bottom: 20px;
}
/* Styles for input fields */
.form-group input{
  height: 30%;
  width: 97%;
}
/* Styles for error messages */
.error-message {
  color: red;
}

/* Styles for submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  width: 110px;
  margin: auto;
}

/* Hover effect for submit button */
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Disable style for submit button */
button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Hover effect for disabled button */
button[type="submit"]:disabled:hover {
  background-color: #ccc;
}

/* Media query for smaller screens */
@media only screen and (max-width: 480px) {
  .forms{
    width: auto;
    height: auto;
    padding: 5vw 12vw;
    margin: 10vw;
  }
  .signup-page {
    background-image: url("https://img.freepik.com/free-vector/colorful-watercolor-rainbow-background_125540-151.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1710374400&semt=ais");
}
}